<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doi.name%>
</p>

<p>
  <strong>University:</strong>
  <%= @doi.university %>
</p>

<%= link_to "Show Urls", doi_urls_path(@doi) %> |
<%= link_to 'Edit', edit_doi_path(@doi) %> |
<%= link_to 'Show all Dois', dois_path %>