<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @tag.tag %>
</p>

<p>
  <strong>Image:</strong>
  <%= @tag.image.name %>
</p>

<%= render 'tag/form' %>
  
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
