<div class='container'>
<h1><strong>keymasher!</strong></h1>
   <b>
    <%= link_to 'New Level', new_level_path %> | <%= link_to 'My Scores', scores_path %>
   </b>
   <hr>
    <% @levels.each do |level| %>
      <div>
        <p><strong><%= level.title %></strong> by <strong><%=level.user.email.split('@', 2).first %></strong>:</p>        
        <p><i><%= level.content %></i></p>
        <p><b><%= link_to 'Play', level %>     
        <% if(level.user == current_user) %>
          <%= link_to 'Edit', edit_level_path(level) %>
          <%= link_to 'Destroy', level, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </b></p>
      <hr>    
      </div>
    <% end %>
  </tbody>
</div>