
<div class='container'>
<h1>
  <strong>
  <%= @level.title %>
  </strong>
</h1>

<p>
  <strong>TOP SCORE:</strong>
  <% if @topscore != nil %>
    <%= @topscore.score.to_s + ' wpm by ' + @topscore.user.email.split('@', 2).first %>  
  <% end %>

<div id='display'></div>
    <br>
    <textarea style="resize:none" id ='input' rows='5' cols='50' bgcolor='#ffffff'></textarea>
    <br>
    <div id='clock'>0</div>
    <div id='console'></div>
    <div id="bar" style="z-index: 1; left: 5px; top: 50px; width: 0px; height: 15px; background-color:#00FF00; visibility: visible"> 
    <script>
    var running = false;
    var timer;
    var sec = 0;
    var wpm = 0;
    var finished = false;
    var caption = '<%= @level.content %>'
    var console = document.getElementById('console');
    var display = document.getElementById('display');
    var input = document.getElementById('input');
    var clock = document.getElementById('clock');    
    var bar = document.getElementById('bar');
    input.value='';
    input.onkeyup = function(e) {
      
      if(running == false) {        
        running = true;
        timer = setInterval(function(){
          wpm = (input.value.split(' ').length * (60/++sec)).toFixed(1);
          clock.innerHTML=(input.value.split(' ').length * (60/++sec)).toFixed(1);          
        }, 1000);
      }
      var tReg = new RegExp('^'+input.value+'+');
      if(tReg.test(caption)) {
        input.style.color = 'green';            
        console.innerHTML = Math.round((input.value.length / caption.length)*100) + '% complete';
        bar.setAttribute("style","width:50px");
        if(input.value.length == caption.length && finished == false) {          
          clearInterval(timer);
          xmlHttp = new XMLHttpRequest();
          clock.innerHTML = wpm;
          xmlHttp.open("POST", "http://54.183.146.89:3000/add_score/<%= @user.id %>/<%= @level.id%>/" + clock.innerHTML);          
          xmlHttp.send(null);
          finished = true;
        }
      }
      else
        input.style.color = 'red';      
    }
    display.innerHTML='<i>' + caption + '</i>';      
    </script>    
<%= link_to 'Back', levels_path %>
<p id="notice"><%= notice %></p>
</div>
