<center>
<h1>Listing images</h1>
<table border='1'>
  <thead>
    <tr>
      <th>Image</th>
      <th>Filename</th>
      <th>Private</th>
      <th>Username</th>
      <th colspan="3">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @current_user_images.each do |image| %>       
      <tr> 
        <td><%= image_tag root_url + "/images/" + image.filename, size: "50x50", alt: image.filename %></td>
        <td><%= image.filename %></td>
        <td><%= image.priv %></td>
        <td><%= image.user.name %></td>        
            <td><%= link_to 'Show', image %></td>            
            <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>     
    
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Image', new_image_path %>
