<center>
<h1>WOW Such Images</h1>
<table border='1'>
  <thead>
    <tr>
      <th>Image</th>
      <th>Filename</th>
      <th>Username</th>
      <th colspan="3">Operations</th>
    </tr>
  </thead>

  <% if current_user == nil %>
    <h2>You are not logged in</h2>
  <% end %>
  
  
  <tbody>     
    <% Image.all.each do |image| %>
      <% if !image.priv || (image.priv && current_user == image.user) || (image.users.include? current_user) %>       
      <tr>
        
        <td><%= link_to image_tag(root_url + "/images/" + image.filename, size: "50x50", alt: image.filename), image %></td>
        <td><%= image.filename %>
        
        <% if image.priv %>
          <br><i>Private image</i></td>
        <% end %></td>
        
        <td><%= image.user.name %></td>
        <td>
        <% if current_user == image.user %>
            <%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>    
      <% end %>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Image', new_image_path %>


