<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @image.filename %>
</p>

<p>
  <strong>Private?</strong>
  <%= @image.priv %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user.name %>
</p>

<%= image_tag root_url + "/images/" + @image.filename, alt: @image.filename, size: "250x250" %>

<table>
  <thead>
    <tr>
      <th>Tag</th>      
    </tr>
  </thead>
  
  <tbody>
    <% @image.tags.each do |tag| %>
      <% if !tag.new_record? %>
      <tr>
        <td><%= tag.tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h3>Create new Tag</h3>
<%= render 'tags/form' %>


<%= link_to 'Edit', edit_image_path(@image) %>
<%= link_to 'Back', images_path %>
