<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @image.filename %>
</p>

<p>
  <strong>Priv:</strong>
  <%= @image.priv %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @image.tag %>
</p>

<%= image_tag root_url + "/images/" + @image.filename, alt: @image.filename %>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
